.btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 4px;
    font-weight: 500;
    padding: 8px 16px;
    transition: 0.385s ease;
    border: var(--border);
    margin: 10px;
}

.btn:hover {
    background-color: var(--btn-invert-color);
    color: var(--text-invert-color);
    border: var(--border-invert);
    cursor: pointer;
}