
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    list-style: none;

}

.dark {
    /* for button */
    --border-color: rgb(78, 78, 78);
    --btn-color: rgb(0, 0, 0); //button color  in dark mod
    --btn-invert-color: rgb(0, 0, 0); //button color when hover in dark mod
    --text-color: rgb(255, 255, 255); //text color in dark mode
    --text-invert-color: rgb(255, 255, 255); //text color when hover in dark mod
    --border: 1px solid var(--border-color); //border when dark mode
    --border-invert: 1px solid rgb(255, 255, 255); //border when hover in dark mod
    background-color: black; //background color in dark mod
    /* for input */
    --input-color: black; //input background color in dark mod
    --input-border: 1px solid var(--border-color); //input border in dark mod
    --input-invert-border: 1px solid white; //input border in dark mod when hover
    --input-text-color: white; //text color of input in dark mode
    /* for slider */
    --slider-border: 1px solid var(--border-color); //border when dark mode
    --slider-invert-border: 1px solid rgb(255, 255, 255); //border when hover in dark mod
    --slider-color: black; //slider line color
    --slider--thumb-color: white; //thumb color
    --slider-text-color: white; //text written for number color
    /* for radio */
    --radio-border: 2px solid #bbb; //radio border color
    --radio-bg-color: #3f3f3f; //radio background color
    --radio-circle-color: white; //circle insdie radio color
    --radio-label-color: white; //radio ka jo label hai uska color
    /* check mark */
    --check-border: 2px solid #bbb; //check mark border color
    --check-bg-color: #3f3f3f; //check mark ka background color
    --check-label-color: white; //check mark ke title ka color
    /* normal css for container */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.light {
    /* for button */
    --border-color: rgb(78, 78, 78);
    --btn-color: rgb(255, 255, 255); //button color when light mod
    --btn-invert-color: rgb(255, 255, 255); //button color when hover
    --text-color: #666; //text color when light mod
    --text-invert-color: #666; //text color when hover in olight mode
    --border: 1px solid var(--text-color); //border when light mod
    --border-invert: 1px solid black; //border when hover in light mod
    background-color: white; //background color in light mod
    /* for input */
    --input-color: rgb(255, 255, 255); //input bg color in light mod
    --input-border: 1px solid var(--border-color); //input border color in light mod
    --input-invert-border: 1px solid rgb(0, 0, 0); //input border color when hover in light mod
    --input-text-color: rgb(0, 0, 0); //input text color in light mod
    /* for slider */
    --slider-border: 1px solid var(--border-color); //input border color in light mod
    --slider-invert-border: 1px solid rgb(0, 0, 0); //input border color when hover in light mod
    --slider-color: rgb(255, 255, 255); //slider line color
    --slider--thumb-color: rgb(0, 0, 0); //thumb color
    --slider-text-color: rgb(0, 0, 0); //text written for number color
    /* for radio */
    --radio-border: 2px solid #bbb; //radio border color
    --radio-bg-color: #c9c9c9; //radio background color
    --radio-circle-color: rgb(0, 0, 0); //circle insdie radio color
    --radio-label-color: var(--text-color); //radio ka jo label hai uska color
    /* check mark */
    --check-border: 2px solid transparent; //check mark border color
    --check-bg-color: #c9c9c9; //check mark ka background color
    --check-label-color: var(--text-color); //check mark ke title ka color
    /* normal css for container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}