.input {
    outline: none;
    border: none;
    background-color: var(--input-color);
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    border: var(--input-border);
    color: var(--input-text-color);
}

.input:focus {
    outline: none;
    border: var(--input-invert-border);
}